
/* 상단바 */
.all-main {
    padding-top : 7vh;
    width: 100vw;
    height: 20vh;
    min-height: 200px;
    background-image: url('../Images/headerbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.all-header-mainnav {
    position: relative;
    width: 100%;
    min-width: 800px;
    height: 40px;
    color: #fff;
    z-index: 1000; 
    position: fixed;
    top: 0;
    left: 0;
    right: 3px;
    border-bottom: 1px solid rgba(255,255,255, .08);
    transition: all 400ms;
}

.all-header-mainnav img {
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 5px;
}
