main {
	position: relative;
	margin:auto;
}

body {
	height: 1200px;
}

.post-detail {
	width: 100%;
	border: none; 
	box-shadow: 0 4px 16px 0 rgb(126 155 255 / 60%);
	justify-content: space-between;
	position: absolute;
	top: -50px;
	background: white;
	border-radius: 0.5%;
}

.title {
	width: 930px;
	height: 300px;
	padding: 20px;	
}

.writer {
	display: flex;
	width: 850px;
	height: 200px;
	padding-top: 20px;
	position: relateive;
}

.my-image {
	width: 200px;
	height: 200px;
	border-radius: 2%;
}

.introduce {
	font-weight:bold;
	height: 130px;
}

.first-btn {
	width: auto;
	color: rgb(164, 182, 245);
	padding: 5px;
	background: white;
	border: 0.5px solid rgb(230, 230, 232);
	border-radius: 5%;
	font-weight:bold;
	cursor: pointer;
	transition: all 200ms;
}

.first-btn:hover {
	background: rgb(227, 227, 255);
	color:rgb(23, 60, 189); 
}

.change-img {
	height: 510px;
	width: 920px;
	padding: 25px;
}

/* 프로필앨범 */
.img {
	padding:10px;
	width:130px;
	height:130px;
	border-radius:10%;
}

.fl {
	float: left;
}

.change-img div.anne {
	position: relative;
	width: 130px;
	height: 130px;
	padding: 10px;
}

.change-img div.anne > img:first-child {
	position: absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	width:130px;
	height:130px;
}

.change-img div.anne > img:nth-child(2) {  /* 돋보기 */
	/* display: none; */
	opacity: 0;
    position: absolute;
 	top: 47px;
 	left: 75px;
 	filter: brightness(4);
 	width: 24px;
 	height: 24px;
 	z-index: 1;
}

.change-img div.anne > div {		/* "프로필로 설정" */
	/* display: none; */
	opacity: 0;
	position: absolute;
	left: 48px;
	top: 93px;
	font-size: 16px;
	font-weight: 400;
    padding: 0.2rem 0.5rem;
    text-align: center;
	vertical-align: middle;
	border-radius: 0.25rem;
	line-height: 1.5;
	color: #213a96;
	background-color:#fff;
	border-color:#fff;
	z-index: 1;
}

.change-img div.anne > div:hover {
	position: absolute;
	color: white;
	background-color: rgb(61,105,255);
	border-color: rgb(61,105,255);
	cursor: pointer;
}

.change-img div.anne > img:nth-child(4) {
	/* display: none; */
	opacity: 0;
	position: absolute;
    filter: brightness(50%);
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	width:130px;
	height:130px;
}











