* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

.rank-html {
    scroll-behavior: smooth;
}

.rank-body {
    position:relative;
    margin: 0;
    height: 1800px;
}



.rank-main-content {
    color: #ffffff73;
    margin: auto;
    width: 70%;
    min-width: 1000px;
    padding-top: 80px;
}

.rank-main-content-active {
    color: #fff;
    border-bottom: 2px solid #7e9bff;
}

.rank-main-content p {
    color: #354f9c;
    font-size: 20px;
    font-weight: 500;
}

.rank-main-content-item {
    margin-right: 20px;
}

.rank-main-input {
    float: right;
    width: 300px;
    height: 20px;
    padding: 8px 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: transparent;
    border : 1px solid rgba(255,255,255,.16);
    background-color: rgba(255,255,255,.08);
    color: #fff;
    outline: none;
    transition: all 200ms;
}

.rank-main-input::placeholder {
    font-weight: 500;
    color : rgba(255, 255, 255, 0.486);
}

.rank-main-input:hover {
    color : #353945;
    background-color: #fff;
}

.rank-main-input:hover::placeholder {
    font-weight: 500;
    color : #353945;
}

.rank-google-ad {
    margin: auto;
    width: 70%;
    height: 200px;
}

.rank-champ-rank-container {
    margin: auto;
    min-width: 1000px;
    width: 60%;
    height: 900px;
    padding: 20px;
    box-shadow: 0 4px 16px 0 rgb(126 155 255 / 60%);
}

.rank-position {
    display: flex;
    width: 100%;
    justify-content: left;
    color: #213a96;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
    padding: 0;
}

.rank-active {
    color: #7e9bff;
    background-color: #f6f8ff;
    border: 1px solid #7e9bff;
    border-bottom: white;
    border-radius: 4px 4px 0px 0px;
}
	

.rank-position-button {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    width: 50px;
    height: 20px;
    padding: 8px 10px;
    margin-bottom: -1px;
}


.rank-champ-list-tier {
    width: 100%;
    height: 50px;
}

.rank-champ-list {
    width: 100%;
    height: 80%;
    background-color: rgba(215,39,25,.08);
    overflow-y:scroll;
    z-index: 1000;
}

.rank-champ-list::-webkit-scrollbar {
    width: 5px;
}
.rank-champ-list::-webkit-scrollbar-thumb {
    background-color:#7e9bff;
    border-radius: 10px;
    width: 3px;
}
.rank-champ-list::-webkit-scrollbar-track {
    background-color: white;
}   

.rank-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding: 8px 0px;
}

.rank-list span {
    position: relative;
    padding: 10px 0px;
}

.rank-list-number::after {
    content: "";
    position: absolute;
    right: -13px;
    top: -18px;
    height: 57px;
    border-right: 1px solid rgba(126,155,255,.1);
}

.rank-list-image {
    border-radius: 50%;
    width: 40px;
    height: 100%;
}


.rank-list:hover {
    background-color: rgba(215,39,25,.4);
}
