.patch{
	padding-top: 24px;
}
.patch .ver{
	border-top: 1px solid rgba(126,155,255,.5);
    position: relative;
    padding: 12px 0 30px 80px;
}
.patch .ver h4 {
    color: #1d2e69;
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 16px;
}
h4 {
    font-weight: 700;
    font-size: 14px;
    color: #213a96;
    display: inline-block;
}
.patch .ver .skill-imgbox {
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
}
.skill-imgbox{
	margin-right: 30px;
	margin-top:30px;
	float: left;
	border-radius: 4px;
    overflow: hidden;
	display: inline-block;
}
.patch .ver .content {
    position: relative;
    padding-left: 48px;
    color: rgba(47,62,78,.7);
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.img{
	float: left;
	width: 40px;
	height: 40px;
}